body {
  background-color: rgb(57,99,98);
  margin: 0;
}

.topbar {
  padding: 0.5em;
  background-color: rgb(57,99,98);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar a {
  padding: 16px;
  text-decoration: none;
  color: white;
}

.barright {
  margin-right: 10%
}

.barright a.active {
  background-color: black;
}

.head {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#tab {
  border: 1px solid black;
  background-color: rgb(227,176,75);
}

.content {
  background-color: rgb(223,205,195);
  text-align: center;
  height: 100vh;
}

.wrapper {
  margin: 0 10%;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.search-container input[type=text] {
  text-align: center;
}
