body {
  background-color: rgb(57,99,98);
  margin: 0;
}

.topbar {
  padding: 0.5em;
  background-color: rgb(57,99,98);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar a {
  padding: 16px;
  text-decoration: none;
  color: white;
}

.topbar .barright a.active {
  background-color: black;
}

.head {
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  margin: auto;
  padding: 0;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.content {
  background-color: rgb(223,205,195);
  text-align: center;
  height: 100vh;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.search-container input[type=text] {
  text-align: center;
}
