body {
  background-color: rgb(57, 99, 98);
  margin: 0;
}

.topbar {
  padding: 16px;
  background-color: rgb(57, 99, 98);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar a {
  padding: 16px;
  text-decoration: none;
  color: white;
}

.topbar a:visited {
  background-color: black;
}

.topbar a:link:active,
a:visited:active {
  background-color: black;
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.content {
  background-color: rgb(223, 205, 195);
  width: 50%;
  text-align: center;
  margin: 0 auto;
  clear: both;
  content: "";
  display: table;
  height: 100vh;
}

.list {
  /* Found code at flexbox main page, https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex_list {
  /* Found code at flexbox main page, https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  background: lightblue;
  padding: 5px;
  width: 110px;
  height: 110px;
  margin-top: 10px;

  line-height: 23px;
  color: black;
  font-weight: bold;
  font-size: smaller;
  text-align: center;
}
